.DS_Store
Desktop.ini
Thumbs.db
.Trashes
src/
.CFUserTextEncoding
.Trash/
.aws
.bootstrap
.bundle
.gem
.openssl
.oracle_jre_usage
.pow
.powconfig
.rbenv
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
bin
brew.sh
.bash_sessions
.bash_history
