.DS_Store
Desktop.ini
Thumbs.db
.Trashes
src/
.CFUserTextEncoding
.Trash/
.aws
.bootstrap
.bundle
.gem
.openssl
.oracle_jre_usage
.pow
.powconfig
.rbenv
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
bin
brew.sh
.bash_sessions
.bash_history
.dropbox
Dropbox*
Google Drive*
.vault-token
.stCommitMsg
.IdentityService/
.ServiceHub/
.cache/
.config/
.cups/
.gradle/
.hgignore_global
.jenv/
.local/
.mono/
.mume/
.netrc
.nuget/
.profile
.pry_history
.pyenv/
.subversion/
.templateengine/
.viminfo
.vscode/